.image1 {
  width: 400px;
  z-index: 1;
}

.image2 {
  position: absolute;
  margin-top: 90px;
  z-index: -2;
}

.diver-hr {
  position: absolute;
  width: 85%;
  height: 6px;
  background-color: blueviolet;
  z-index: -1;
  margin-top: -170px;
}

.row-div {
  margin-top: 30px;
}

.card-body-item-1 {
  background-color: #ededed;
  margin-top: 20px;
}

.login-section {
  margin-top: 20px;
}

.error {
  color:red;
}

.faze-input {
  color:#828282;
}

.mat-tab-label{
  background-color: #8400ff !important;
  font-weight: bolder !important;
  font-size: 20px;
}


.mat-tab-label-text {
  color: #231F20;
}
