<div class="container">
  <app-top-banner></app-top-banner>

  <div class="row">
    <div class="col-md-4">
      <div class="card"  style="width: fit-content">
        <div class="card-header card-theme"><h4 class="card-h3">Best Sellers</h4></div>
        <div class="card-body card-theme">
          <a href="" class="pointer">
            <img src="../../../assets/image/template/harry-potter-seven-original-hardcover-books.png"
                 alt="Harry Potter Seven Original Hardcover Book" class="img-fluid" style="width: 300px">
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card"  style="width: fit-content">
        <div class="card-header card-theme"><h4 class="card-h3">Best Sellers</h4></div>
        <div class="card-body card-theme">
          <a href="" class="pointer">
            <img src="../../../assets/image/template/harry-potter-seven-original-hardcover-books.png"
                 alt="Harry Potter Seven Original Hardcover Book" class="img-fluid" style="width: 300px; height: 235px;">
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card"  style="width: fit-content">
        <div class="card-header card-theme"><h4 class="card-h3">Best Sellers</h4></div>
        <div class="card-body card-theme">
          <a href="" class="pointer">
            <img src="../../../assets/image/template/harry-potter-seven-original-hardcover-books.png"
                 alt="Harry Potter Seven Original Hardcover Book" class="img-fluid" style="width: 300px">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!--Featured Books-->
  </div>
</div>
