<footer>
  <div class="container">
    <div class="d-flex flex-row-reverse bg-secondary">
      <div style="background-color: #428bca;">
        <div>Chat Service Here!!!</div>
      </div>
    </div>
  </div>

  <div style="background: blueviolet;">
    <div class="container">
      <div class="footer-box underline">© 2019 Book-Store</div>
      <mat-divider style="border-width: 4px; border-color: rgba(148,0,255,0.59);"></mat-divider>
      <div class="footer-info page-footer">
        <div align="left" style="width: 100%; margin-left: 1%; text-align: right; ">
          <i style="width: 100%">- Developed by:<a mat-button href="https://github.com/sean-huni/angular-spring-app" target="_blank">Sean Huni</a></i>
        </div>
      </div>
    </div>
  </div>
</footer>
